<DOCTYPE!>
  <html>
<head>
<title>UniConnect</title>
  <style>
    h1{
      font-size:  30px;
      font-family: Roboto;
      color: rgb(50,50,50);    # less the no. more the dark
      text-align: center;
      
    }

    #banner{
      width : 100%;
      height: 360px;
      object-fit: cover;
    }
  </style>
  
</head>
    <body>
<h1>UniConnect</h1>
      <img id = 'banner' src ="https://f219a61a-9d71-4ef9-a071-855d829febc8-00-1iv4z5bjmszkv.spock.repl.co/static/college.jpg " >
    Hi , I am narayan murthy

<h2>Open Positions</h2>
<p>To Do - Show The jobs Here</p>

<button>Contact Us</button>


</body>

    
  </html>